// from https://docs.aws.amazon.com/AmazonS3/latest/dev/HLuploadFileJava.html
import com.amazonaws.AmazonServiceException;
import com.amazonaws.SdkClientException;
import com.amazonaws.auth.profile.ProfileCredentialsProvider;
import com.amazonaws.services.s3.AmazonS3;
import com.amazonaws.services.s3.AmazonS3ClientBuilder;
import com.amazonaws.auth.AWSStaticCredentialsProvider;
import com.amazonaws.auth.BasicAWSCredentials;
import com.amazonaws.client.builder.AwsClientBuilder
import com.amazonaws.services.s3.transfer.TransferManager;
import com.amazonaws.services.s3.transfer.TransferManagerBuilder;
import com.amazonaws.services.s3.transfer.Upload;
import com.amazonaws.services.s3.model.ListObjectsV2Request;
import com.amazonaws.services.s3.model.DeleteObjectsRequest;
import com.amazonaws.services.s3.model.DeleteObjectsRequest.KeyVersion;
import java.time.LocalDateTime
import org.apache.commons.io.FileUtils
import java.time.format.DateTimeFormatter
import org.sonatype.nexus.scheduling.TaskConfiguration
import org.sonatype.nexus.scheduling.TaskScheduler
import org.sonatype.nexus.scheduling.TaskInfo
import org.sonatype.nexus.scheduling.schedule.Schedule
import java.util.concurrent.TimeUnit

// ref: https://github.com/sonatype/nexus-public/blob/master/components/nexus-blobstore-api/src/main/java/org/sonatype/nexus/blobstore/api/
import org.sonatype.nexus.blobstore.api.BlobStoreManager

s3BlobStoreName = "{{ nexus_cern_s3_blobstore_name }}"
nexusBackupDirPath = "{{ nexus_backup_dir }}"
s3BackupPrefix = "{{ nexus_cern_backup_s3_prefix }}"

backupDateString = LocalDateTime.now().format(DateTimeFormatter.ofPattern('YYYY-MM-dd-HH-mm-ss'))
currentBackupDirPath = nexusBackupDirPath+'/db-backup-'+backupDateString

log.info("Create a temporary task to backup nexus db in " + currentBackupDirPath)
TaskScheduler taskScheduler = container.lookup(TaskScheduler.class.getName())
TaskConfiguration tempBackupTaskConfiguration = taskScheduler.createTaskConfigurationInstance('db.backup')
tempBackupTaskConfiguration.setName('Temporary db.backup task')
tempBackupTaskConfiguration.setString('location', currentBackupDirPath)
Schedule schedule = taskScheduler.scheduleFactory.manual()
TaskInfo tempBackupTask = taskScheduler.scheduleTask(tempBackupTaskConfiguration, schedule)

log.info("Run the temporary db backup task")
tempBackupTask.runNow()

log.info("Wait for temporary db backup task to finish")
while (tempBackupTask.currentState.state != TaskInfo.State.WAITING) {
    TimeUnit.SECONDS.sleep(1)
}
log.info("Remove temporary task")
tempBackupTask.remove()


s3BlobStore = blobStore.getBlobStoreManager().get(s3BlobStoreName)
s3Config = s3BlobStore.getBlobStoreConfiguration().getAttributes()["s3"]

bucketName = s3Config["bucket"]
accessKeyId = s3Config["accessKeyId"]
secretAccessKey = s3Config["secretAccessKey"]
endpoint = s3Config["endpoint"]
region = s3Config["region"]

s3Client = AmazonS3ClientBuilder.standard()
        .withEndpointConfiguration(new AwsClientBuilder.EndpointConfiguration(endpoint,region))
        .withCredentials(new AWSStaticCredentialsProvider(new BasicAWSCredentials(accessKeyId, secretAccessKey)))
        .build();

tm = TransferManagerBuilder.standard()
        .withS3Client(s3Client)
        .build();

// upload each file
baseDir = new File(currentBackupDirPath)
files = baseDir.listFiles()
uploads = []
keys = []

files.each {
    keyName = s3BackupPrefix + "/" + it.name
    keys << keyName
    // TransferManager processes all transfers asynchronously,
    // so this call returns immediately.
    upload = tm.upload(bucketName, keyName, it);
    log.info("Object upload started " + it.path + " ==> " + keyName);
    uploads << upload
}

// wait for all uploads to complete
uploads.each {
    it.waitForCompletion()
    log.info("Upload complete")
}

// delete local backup files
log.info("Delete local folder " + currentBackupDirPath)
files.each { it.delete() }
dirToDelete = new File(currentBackupDirPath)
if (! dirToDelete.deleteDir()) {
    log.info("Failed to delete local folder " + currentBackupDirPath)
}

// clean up previous backups (we rely on soft-deletion at bucket level to keep a history)
// delete each file with the same S3 prefix that we did not just upload
req = new ListObjectsV2Request().withBucketName(bucketName).withPrefix(s3BackupPrefix).withMaxKeys(50);
result = s3Client.listObjectsV2(req)
keysToDelete = []
result.getObjectSummaries().each {
    keyName = it.getKey()
    if (! keys.contains(keyName)) {
        log.info("Deleting old backup file from S3 " + keyName)
        keysToDelete << new KeyVersion(keyName)
    }
}
multiObjectDeleteRequest = new DeleteObjectsRequest(bucketName)
    .withKeys(keysToDelete)
    .withQuiet(false);
delObjRes = s3Client.deleteObjects(multiObjectDeleteRequest);
log.info(delObjRes.getDeletedObjects().size() + " objects successfully deleted.");
